{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/excluir.css' %}">
    <title>Listar pedidoss ID</title>
</head>
<body>
    <div class="card">
        <div class="card-header">
            Dados do pedidos
        </div>
        <div class="card-body">
            <h5 class="card-title">Código do Pedido: {{pedidos.cod_pedido}}</h5>
            <h5 class="card-title">Vendedor: {{pedidos.cod_vendedor}}</h5>
            <h5 class="card-title">Cliente: {{pedidos.cpf}}</h5>
            <h5 class="card-title">Produto: {{pedidos.cod_produto}}</h5>
            <h5 class="card-title">Quantidade: {{pedidos.quantidade}}</h5>
            <h5 class="card-title">Preço: {{pedidos.preco_lista}}</h5>
            <h5 class="card-title">Status: {{pedidos.status}}</h5>
        </div>
        <!-- Adicione este formulário para confirmar a exclusão -->
<form method="post">
    {% csrf_token %}
    <input type="submit" value="Confirmar Exclusão">
</form>

    </div>
</body>
</html>