<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Pedidos ID</title>
</head>
    <div class="card">
        <div class="card-header">
            Dados dos Pedidos
        </div>
        <div class="card-body">
            <h5 class="card-title">Codigo Pedido {{pedidos_id.cod_pedido}}</h5>
            <h5 class="card-title">Codigo Vendedor: {{pedidos_id.cod_vendedor}}</h5>
            <h5 class="card-title">CPF do Cliente: {{pedidos_id.cpf}}</h5>
            <h5 class="card-title">Codigo Produto:  {{pedidos_id.cod_produto}}</h5>
            <h5 class="card-title">Preco: {{pedidos_id.preco_lista}}</h5>
            <h5 class="card-title">Quantidade: {{pedidos_id.quantidade}}</h5>
        </div>
    </div>   
</body>
</html>