<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Produtos ID</title>
</head>
    <div class="card">
        <div class="card-header">
            Dados dos Produtos
        </div>
        <div class="card-body">
            <h5 class="card-title">Codigo Produto {{produtos_id.cod_produto}}</h5>
            <h5 class="card-title">Nome do Produto: {{produtos_id.nome_produto}}</h5>
            <h5 class="card-title">Embalagem: {{produtos_id.embalagem}}</h5>
            <h5 class="card-title">Tamanho:  {{produtos_id.tamanho}}</h5>
            <h5 class="card-title">Sabor: {{produtos_id.sabor}}</h5>
            <h5 class="card-title">Preço: {{produtos_id.preco_lista}}</h5>
        </div>
    </div>   
</body>
</html>